{% extends "layout.html" %}

{% block title %}
    Cheat
{% endblock %}

{% block main %}
    <form action="/cheat" method="post">
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="amount" placeholder="Amount" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Cheat</button>
    </form>
{% endblock %}