{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Transaction</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>

        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction["symbol"] }}</td>

            {% if transaction["shares"] < 0 %}
            <td>Sold</td>
            <td>{{ -transaction["shares"] }}</td>
            {% else %}
            <td>Bought</td>
            <td>{{ transaction["shares"] }}</td>
            {% endif %}

            <td>{{ transaction["price"] | usd }}</td>
            <td>{{ transaction["datetime"] }}</td>
        </tr>
        {% endfor %}

    </table>
{% endblock %}