{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">

        <div class="form-group">
            <label for="symbol" class="col-sm-2 col-form-label">Symbol</label>
            <select required autofocus class="form-control" name="symbol" placeholder="Share Symbol">
                    <option default></option>
                {% for stock in stocks %}
                    <option>{{ stock["symbol"] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="shares" placeholder="Number of Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}